@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway - Extra Bold";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway - Semi Bold";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-ultra";
  font-display: swap;
  src: url("../fonts/montserrat-ultra-light.woff") format("woff"), url("../fonts/montserrat-ultra-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before,
._read a::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-down:before {
  content: "\e911";
}

._icon-arrow-spoiler-right:before {
  content: "\e913";
}

._icon-arrow:before,
._read a:before {
  content: "\e909";
}

._icon-like:before {
  content: "\e90a";
}

._icon-people:before {
  content: "\e90b";
}

._icon-play:before {
  content: "\e90c";
}

._icon-post:before {
  content: "\e90d";
}

._icon-share:before {
  content: "\e90e";
}

._icon-coffe:before {
  content: "\e90f";
}

._icon-launch:before {
  content: "\e910";
}

._icon-lupa:before {
  content: "\e908";
}

._icon-arrow-spoiler:before {
  content: "\e900";
}

._icon-folder:before {
  content: "\e901";
}

._icon-icon-cart:before {
  content: "\e902";
}

._icon-icon-search:before {
  content: "\e903";
}

._icon-logo:before {
  content: "\e904";
}

._icon-paper:before {
  content: "\e905";
}

._icon-pencil:before {
  content: "\e906";
}

._icon-settings:before {
  content: "\e907";
}

.header {
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__body {
  position: relative;
}

.header-row {
  -webkit-transition: min-height 0.4s ease;
  -o-transition: min-height 0.4s ease;
  transition: min-height 0.4s ease;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 0;
}

.logo__link {
  color: inherit;
}

.logo__image {
  -webkit-transition: font-size 0.4s ease;
  -o-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
}

.logo__text {
  -webkit-transition: font-size 0.4s ease;
  -o-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
}

._image {
  font-size: 64px;
  color: #fff;
}

._logo-text {
  color: #ffffff;
  font-family: Raleway;
  text-align: right;
  letter-spacing: -1.36px;
}

.header-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-main__link {
  color: inherit;
  color: #ffffff;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  font-weight: 300;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-item {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.icons__link-cart {
  color: inherit;
}

.icons__search._active {
  color: #c7b299;
}

._icon {
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
}

._icon:not(:last-child) {
  margin-right: 25px;
}

.header-form {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 50px;
  opacity: 0;
  visibility: hidden;
}

.header-form__search {
  cursor: auto;
  color: #000;
  border-radius: 12px;
  padding: 0 0 0 55px;
  font-size: 17px;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
}

.header-form__icon {
  pointer-events: none;
  position: absolute;
  bottom: -16px;
  left: 45px;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

._search-active {
  opacity: 1;
  visibility: visible;
  bottom: -60px;
}

.header._active::before {
  left: 0;
}

._fix {
  background-color: #353434;
}

._fix .header-row {
  min-height: 65px;
}

.icons__burger {
  display: none;
}

.header-main._active {
  left: 0;
}

.icons__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icons__burger._active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.icons__burger._active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.slider {
  background-color: #474541;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__next::after,
.slider__prev::after {
  content: normal;
}

.slider__next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 7.8125%;
}

.slider__prev {
  left: 7.8125%;
}

.slider__next,
.slider__prev {
  z-index: 2;
  font-size: 73px;
  font-size: 73px;
  color: #000;
}

.slider__wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__pagination {
  bottom: 20px;
}

._no-webp .slide__body{
  background: url("../img/slider/mountain.png") 0 0/cover no-repeat; }

.slide__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 140px 15px;
  min-width: 0;
  min-height: 100vh;
}

.slide__body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.65;
}

.slide__subtitle {
  z-index: 2;
  max-width: 650px;
  color: #fff;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.slide__title {
  z-index: 2;
  max-width: 700px;
  margin: 14px 0 0 0;
  color: #fff;
  font-family: "Raleway - Extra Bold";
  font-size: 52px;
  text-align: center;
}

.slide__text {
  z-index: 2;
  margin: 19px 0 0 0;
  color: #fff;
  max-width: 562px;
}

.slide__button {
  z-index: 2;
  margin: 52px 0 0 0;
}

.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.button {
  text-align: center;
}

.btn {
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  padding: 18.5px 38.85px;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
}

.swiper-pagination.slider__pagination {
  bottom: 40px;
  bottom: 40px;
}

.sevices {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sevices-row {
  margin: -17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sevices-row-item {
  padding: 17px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.sevices-row-item__title {
  word-wrap: break-word;
  max-width: 260px;
  -webkit-transition: color 0.8s ease;
  -o-transition: color 0.8s ease;
  transition: color 0.8s ease;
  margin: 29px auto;
  margin-bottom: 0;
}

.sevices-row-item__image {
  -webkit-transition: color 0.8s ease;
  -o-transition: color 0.8s ease;
  transition: color 0.8s ease;
  color: #555555;
  text-align: center;
  font-size: 49px;
}

.sevices-row-item__text {
  font-size: 14px;
  position: relative;
  margin: 19px 0 0 0;
  padding: 0 0 33px 0;
  color: #8c8c8c;
}

.sevices-row-item__text::after {
  content: '';
  -webkit-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  /* Style for "line" */
  width: 70px;
  max-width: 100%;
  height: 3px;
  background-color: #f1eee9;
}

.title {
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 22px;
  text-align: center;
}

.ideas {
  background-color: #fbfaf8;
}

.ideas-realization {
  padding: 83px 0 0 0;
  padding-top: 83px;
}

.ideas-realization__title {
  font-size: 30px;
}

.ideas-realization__text {
  margin: 24px auto;
  margin-bottom: 0;
  line-height: 28px;
  color: #8c8c8c;
  max-width: 770px;
}

.ideas-images {
  margin: 0px auto;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1270px;
}

.ideas-images__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideas-images__item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ideas-images__item:first-child,
.ideas-images__item:last-child {
  position: absolute;
  bottom: 0;
}

.ideas-images__item:first-child {
  left: 0px;
}

.ideas-images__item:last-child {
  right: 0px;
}

.ideas-images__item:nth-child(2) {
  position: relative;
  z-index: 2;
}

.ideas-wordpress {
  padding: 0 20px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.ideas-wordpress__row {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ideas-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  padding: 50px 40px 50px 0;
}

.ideas-text__title {
  line-height: 27px;
  line-height: 30px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 28px;
  font-size: 28px;
}

.ideas-text__title ._waxom {
  color: #c7b299;
}

.ideas-text__subtitle {
  line-height: 20px;
  margin: 5px 0 0 0;
  max-width: 466px;
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.ideas-button__link {
  display: block;
  padding: 17px 28.14px;
}

.projects {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects__title {
  font-size: 30px;
}

.projects__text {
  padding: 24px 0 0 0;
  margin: 0 auto;
  max-width: 757px;
}

.projects-tabs {
  padding-top: 40px;
}

.projects-tabs__button {
  margin: 0 20px;
  padding-top: 60px;
  margin: 0px auto;
}

.projects-tabs__btn {
  padding: 17px 44.3px;
}

.tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

.tabs-list__item {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 5px;
  min-width: 70px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  padding: 4.5px 20px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
}

.tabs-list__item._active {
  cursor: default;
  background-color: #998675;
  color: #ffffff;
}

.tabs-content {
  padding-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  display: none;
}

.tabs-content._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333333333333%;
          flex: 0 1 33.33333333333333%;
  cursor: pointer;
}

.tabs-content-item._active .tabs-content-item__image::before {
  opacity: 0.6;
  visibility: visible;
}

.tabs-content-item._active .tabs-content-item__image::after {
  border-top: 10px solid #362f2d;
}

.tabs-content-item._active .tabs-content-item__icons {
  opacity: 1;
  visibility: visible;
}

.tabs-content-item._active .tabs-content-item__text {
  background-color: #362f2d;
}

.tabs-content-item._active .tabs-content-item__text__title {
  color: #ffffff;
}

.tabs-content-item._active .tabs-content-item__text__slogan {
  color: #c7b299;
}

.tabs-content-item__image {
  padding-bottom: 59.25%;
  position: relative;
}

.tabs-content-item__image::before {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}

.tabs-content-item__image::after {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  bottom: 0;
  left: 5.13514%;
  border: 15px solid transparent;
  /* Прозрачные границы */
  border-top: 10px solid #fbfaf8;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.tabs-content-item__image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tabs-content-item__icons {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
}

.tabs-content-item__share,
.tabs-content-item__lupa {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #fff;
  padding: 12px;
  background-color: transparent;
  font-size: 26px;
}

.tabs-content-item__share._active,
.tabs-content-item__lupa._active {
  color: #c7b299;
}

.tabs-content-item__text {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: #fbfaf8;
}

.tabs-content-item__title {
  white-space: inherit;
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.tabs-content-item__slogan {
  padding: 5px 0 0 0;
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

._no-webp .video{
  background: url("../img/video/video-bg.png") 0 0/cover no-repeat; }

.video {
  position: relative;
  text-align: center;
}

.video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.video__body {
  position: relative;
  z-index: 2;
  padding-top: 205px;
  padding-bottom: 205px;
}

.video__title {
  margin: 60px 0 0 0;
  color: #ffffff;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.video__text {
  max-width: 552px;
  margin: 30px auto;
  color: #fff;
  line-height: 28px;
}

.video__time {
  margin: 40px 0 0 0;
  color: #c7b299;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.video-play {
  margin: 60px 0 0 0;
  cursor: pointer;
  position: relative;
}

.video-play::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #000;
  opacity: 0.3;
  border-radius: 50%;
}

.video-play__icon {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 70px;
}

.mobile {
  padding-top: 80px;
}

.mobile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-row__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.mobile-row-item-image {
  padding: 0 0 0 45px;
}

.mobile-row-item-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile-row-item-text {
  max-width: 700px;
}

.mobile-row-item-text__title {
  text-align: left;
  font-size: 30px;
}

.mobile-row-item-text__text {
  padding: 40px 0 0 0;
  padding-top: 40px;
  color: #8c8c8c;
  line-height: 28px;
  text-align: left;
  font-weight: 400;
}

.mobile-row-item-text__list {
  padding: 45px 0 0 0;
}

.mobile-row-item-text__list-item {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
  padding: 0 0 10px 0px;
}

.mobile-row-item-text__list-item::before {
  content: '';
  position: absolute;
  top: 5px;
  width: 21px;
  height: 21px;
  background: url("../img/icons/icon-checkbox.svg") 0 0/cover no-repeat;
}

.statistics {
  padding: 69px 0 60px 0px;
  padding-top: 69px;
  padding-bottom: 60px;
  min-height: 300px;
  width: 100%;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.statistics-item__icon {
  text-align: center;
  font-size: 44px;
  color: #c7b299;
  font-size: 43px;
}

.statistics-item__quantity {
  padding: 30px 0 0 0;
  padding-top: 30px;
  color: #ffffff;
  font-family: "montserrat-ultra";
  font-size: 48px;
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.statistics-item__text {
  position: relative;
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 30px 0;
  padding-top: 20px;
  padding-top: 30px;
}

.statistics-item__text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #fff;
  width: 30px;
  height: 2px;
  max-width: 100%;
}

.slider-posts {
  padding-top: 80px;
  padding-bottom: 80px;
}

.slider-posts__slider {
  padding-top: 40px;
  position: relative;
}

.slider-posts__slider .swiper-slide-active .image-slider::before {
  opacity: 0.6;
}

.slider-posts__slider .swiper-slide-active .posts-slide-image__img::before {
  opacity: 0.6;
}

.slider-posts__slider .swiper-slide-active .calendar__number {
  background-color: #c7b299;
}

.slider-posts__slider .swiper-slide-active .calendar__month {
  background-color: #a48d72;
}

.slider-posts__slider .swiper-slide-active .content-text {
  border: 0px;
  background-color: #362f2d;
}

.slider-posts__slider .swiper-slide-active .content-text__title {
  color: #c7b299;
}

.slider-posts__slider .swiper-slide-active .content-text__text {
  color: #fff;
}

.slider-posts-text {
  margin: 0 auto;
  max-width: 770px;
}

.slider-posts-text__title {
  font-size: 30px;
}

.slider-posts-text__text {
  padding-top: 30px;
  padding: 30px 0 0 0;
  color: #8c8c8c;
}

.posts-slide {
  cursor: pointer;
}

.posts-slide-image {
  position: relative;
  padding-bottom: 59.45946%;
}

.posts-slide-image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.posts-slide-image__img::before {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
}

.posts-slide-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.calendar {
  position: absolute;
  z-index: 3;
  top: 5.40541%;
  left: 5.40541%;
  width: 50px;
  height: 100%;
}

.calendar__number {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  min-height: 35px;
  border-radius: 4px 4px 0 0;
  background-color: #363636;
}

.calendar__month {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  max-width: 50px;
  text-align: center;
  min-height: 25px;
  border-radius: 0 0 4px 4px;
  background-color: #252525;
}

.content-text {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: 1px solid #f8f8f8;
  padding: 30px 25px;
}

.content-text__title {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #555555;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.content-text__text {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-align: left;
  padding: 20px 0 0 0;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 22px;
}

.content-text__read {
  padding-top: 25px;
  color: #c7b299;
}

._read {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

._read a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

._read a::before {
  padding: 2.5px 0 0 9px;
  font-size: 8px;
}

.icon-nav {
  margin-top: 40px;
  text-align: center;
}

.icon-nav__item {
  padding: 4px;
  background-color: inherit;
  font-size: 22px;
  color: #c7b299;
}

.icon-nav-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon-nav .swiper-button-disabled {
  color: #d1d1d1;
}

.image-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-slider::before {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
}

.image-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._no-webp .brands{
  background: url("../img/brands/mountains.png") 0 0/cover no-repeat; }

.brands {
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
}

.brands::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.brands__row {
  padding: 0 5px;
  margin: -10px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 10px;
}

.brand__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__top {
  background-color: #191919;
}

.footer__row {
  margin: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-item {
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer-item__text {
  color: #505050;
  font-size: 14px;
  text-align: left;
}

.footer-item ._content {
  padding: 30px 0 0 0;
}

.footer-title {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title__text {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0 0 0;
}

.footer-title__logo {
  color: #fff;
  font-family: Raleway;
  font-size: 34px;
  text-align: right;
  letter-spacing: -1.36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title__logo::before {
  font-size: 56px;
}

.footer-title__icon {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 0 5px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #fff;
  font-size: 10px;
}

.footer-title._active .footer-title__icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.text__read {
  padding: 30px 0 0 0;
  color: #fff;
}

._num {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.date__text {
  padding: 10px 0 0px 0;
  line-height: 20px;
}

.date._active .date__num {
  color: #ffffff;
}

.date._active .date__text {
  color: #c7b299;
}

._block-text {
  padding: 20px 0;
  position: relative;
}

._block-text:first-child {
  padding-top: 0;
}

._block-text:last-child {
  padding-bottom: 0;
}

._block-text:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 1px;
  max-width: 100%;
  background-color: #252525;
}

.mention__text {
  line-height: 20px;
}

.mention__hashteg {
  color: #00bff3;
}

.mention__time {
  padding: 10px 0 0 0;
}

.mention__link {
  color: #959595;
}

.images-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px;
}

.images-row__image {
  padding-bottom: 35.969%;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 130px;
          flex: 0 1 130px;
  margin: 5px;
}

.images-row__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #111111;
}

.footer-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-row-item {
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.bottom-row-item:not(:last-child) {
  padding: 0 20px 25px 0;
  padding-bottom: 25px;
}

.bottom-row-item ._white {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #838383;
}

.bottom-nav__item {
  padding: 0 25px 12.5px 0;
  padding-bottom: 12.5px;
}

.bottom-nav__item:last-child {
  padding: 0;
}

.bottom-nav__item:last-child .bottom-nav__link::after {
  width: 0;
}

.bottom-nav__link {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: inherit;
  position: relative;
}

.bottom-nav__link::after {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  position: absolute;
  bottom: 0px;
  right: -12.5px;
  width: 1px;
  height: 15px;
  background-color: #555555;
}

.bottom-nav__link:hover {
  color: #9d8d7a;
}

.bottom-nav__link:hover::after {
  background-color: #9d8d7a;
}

.bottom-author__item:not(:last-child) {
  padding: 0 25px 0 0;
}

body {
  height: 100%;
  font-family: Montserrat;
}

@media (min-width: 591px) {
  .posts-slide {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .posts-slide__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 767.98px) {
  .logo__image {
    font-size: 64px;
  }

  .logo__text {
    font-size: 34px;
  }

  .header-main {
    margin-right: 60px;
  }

  .header-main__item:not(:last-child) {
    margin-right: 30px;
  }

  .header-main__link {
    font-size: 14px;
  }

  ._fix .logo__image {
    font-size: 41.6px;
  }

  ._fix .logo__text {
    font-size: 28px;
  }
}

@media (min-width: 767px) {
  .footer-title__icon {
    display: none;
  }
}

@media (min-width: 1024px) {
  .tabs-content-item__text {
    padding: 30px;
  }
}

@media (min-width: 1050px) {
  .mobile-row-item-text__list-item {
    padding-left: 100px;
  }

  .mobile-row-item-text__list-item::before {
    left: 50px;
  }
}

@media (max-width: 12000px) {
  .tabs-content {
    margin: -5px;
  }
}

@media (max-width: 1210px) {
  .sevices-row {
    margin: -10.4px;
  }

  .sevices-row-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 10.4px;
  }

  .footer__row {
    margin: -10px;
  }

  .footer-item {
    padding: 10px;
  }
}

@media (max-width: 1202px) {
  .sevices-row-item__text {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .tabs-content-item {
    padding: 5px;
  }
}

@media (max-width: 1190px) {
  ._icon:not(:last-child) {
    margin-right: calc(-5px + 30 * ((100vw - 320px) / 870));
  }

  .slider__next,
  .slider__prev {
    font-size: calc(52px + 21 * ((100vw - 320px) / 870));
  }

  .slide__subtitle {
    font-size: calc(28px + 8 * ((100vw - 320px) / 870));
  }

  .slide__title {
    font-size: calc(36px + 16 * ((100vw - 320px) / 870));
  }

  .swiper-pagination.slider__pagination {
    bottom: calc(20px + 20 * ((100vw - 320px) / 870));
  }

  .sevices {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .sevices {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .ideas-realization {
    padding-top: calc(40px + 43 * ((100vw - 320px) / 870));
  }

  .ideas-realization__title {
    font-size: calc(28px + 2 * ((100vw - 320px) / 870));
  }

  .ideas-images {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 870));
  }

  .ideas-images {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 870));
  }

  .ideas-images {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 870));
  }

  .ideas-text__title {
    line-height: calc(24px + 6 * ((100vw - 320px) / 870));
  }

  .ideas-text__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 870));
  }

  .ideas-text__subtitle {
    font-size: calc(17px + 1 * ((100vw - 320px) / 870));
  }

  .projects {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .projects {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .projects__title {
    font-size: calc(28px + 2 * ((100vw - 320px) / 870));
  }

  .projects-tabs {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 870));
  }

  .projects-tabs__button {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 870));
  }

  .tabs-content {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 870));
  }

  .video__body {
    padding-top: calc(40px + 165 * ((100vw - 320px) / 870));
  }

  .video__body {
    padding-bottom: calc(40px + 165 * ((100vw - 320px) / 870));
  }

  .mobile {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .mobile-row-item-text__title {
    font-size: calc(28px + 2 * ((100vw - 320px) / 870));
  }

  .mobile-row-item-text__text {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 870));
  }

  .statistics {
    padding-top: calc(40px + 29 * ((100vw - 320px) / 870));
  }

  .statistics {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 870));
  }

  .statistics-item__icon {
    font-size: calc(38px + 5 * ((100vw - 320px) / 870));
  }

  .statistics-item__quantity {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 870));
  }

  .statistics-item__quantity {
    font-size: calc(32px + 16 * ((100vw - 320px) / 870));
  }

  .statistics-item__text {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 870));
  }

  .statistics-item__text {
    padding-top: calc(12px + 18 * ((100vw - 320px) / 870));
  }

  .slider-posts {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .slider-posts {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .slider-posts__slider {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 870));
  }

  .slider-posts-text__title {
    font-size: calc(28px + 2 * ((100vw - 320px) / 870));
  }

  .slider-posts-text__text {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 870));
  }

  .content-text__read {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 870));
  }

  .icon-nav {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 870));
  }

  .brands {
    padding-top: calc(70px + 70 * ((100vw - 320px) / 870));
  }

  .brands {
    padding-bottom: calc(70px + 70 * ((100vw - 320px) / 870));
  }

  .footer__top {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer__row {
    padding: 0 40px;
  }

  .footer-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
  }

  .footer-item:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer-bottom {
    padding-top: calc(25px + 25 * ((100vw - 320px) / 870));
  }

  .footer-bottom {
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 870));
  }

  .bottom-row-item:not(:last-child) {
    padding-bottom: calc(10px + 15 * ((100vw - 320px) / 870));
  }

  .bottom-nav__item {
    padding-bottom: calc(10px + 2.5 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 1190px) and (max-width: 1190px) {
  .footer__top {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 870));
  }

  .footer__top {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 1160px) {
  .ideas-images__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ideas-images__item:first-child,
  .ideas-images__item:last-child {
    position: relative;
  }

  .ideas-images__item:last-child {
    z-index: 3;
    margin-top: -140px;
    margin-top: -140px;
  }

  .ideas-images__item:nth-child(2) {
    margin-top: -70px;
    margin-top: -70px;
  }

  .ideas-wordpress {
    margin: 40px 0 0 0;
    margin-top: 40px;
  }
}

@media (max-width: 1160px) and (max-width: 1190px) {
  .ideas-images__item:last-child {
    margin-top: calc(-40px + -100 * ((100vw - 320px) / 870));
  }

  .ideas-images__item:nth-child(2) {
    margin-top: calc(-20px + -50 * ((100vw - 320px) / 870));
  }

  .ideas-wordpress {
    margin-top: calc(30px + 10 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 1050px) {
  .mobile-row-item-text__list-item {
    padding: 0 0 10px 0px;
    padding-left: 50px;
  }

  .mobile-row-item-text__list-item::before {
    left: 0;
  }
}

@media (max-width: 1050px) and (max-width: 1190px) {
  .mobile-row-item-text__list-item {
    padding-left: calc(40px + 10 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 1024px) {
  .tabs-content-item__text {
    padding: 20px;
  }
}

@media (max-width: 1023px) {
  .tabs-content {
    margin: -8px auto;
    max-width: 767px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-content-item {
    padding: 8px;
  }

  .tabs-content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .slider-posts__slider {
    max-width: 767px;
    margin: 0 auto;
  }

  .brand {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 991.98px) {
  .slider__next {
    right: 30px;
  }

  .slider__prev {
    left: 30px;
  }

  .mobile-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mobile-row-item-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 40px;
  }

  .mobile-row-item-image img {
    width: 380px;
  }

  .mobile-row-item-text__title {
    line-height: 40px;
  }

  .footer__row {
    padding: 0 20px;
  }
}

@media (max-width: 991.98px) and (max-width: 1190px) {
  .mobile-row-item-image {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 850px) {
  .images-row {
    display: block;
    margin: 0;
  }
}

@media (max-width: 829px) {
  .ideas-wordpress__row {
    display: block;
    padding: 40px 0;
  }

  .ideas-text {
    padding: 0;
  }

  .ideas-text__title {
    text-align: center;
    max-width: 100%;
  }

  .ideas-text__subtitle {
    text-align: center;
    margin: 10px 0 0 0;
    max-width: 100%;
  }

  .ideas-button {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header::before {
    content: '';
    -webkit-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
    position: absolute;
    top: 0;
    left: 110%;
    width: 100%;
    height: 100%;
    z-index: 51;
    background-color: #353434;
  }

  .logo {
    z-index: 52;
  }

  .logo__image {
    font-size: 62px;
  }

  .logo__text {
    font-size: 34px;
  }

  .header-main__list {
    display: block;
    padding: 110px 0 0 0;
    text-align: center;
    background-color: #353434;
    min-height: 100%;
  }

  .header-main__item:not(:last-child) {
    margin-right: 0;
    text-transform: uppercase;
  }

  .header-main__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 60px;
  }

  .icons {
    margin: -15px;
    z-index: 52;
  }

  .icons-item {
    padding: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  ._icon:not(:last-child) {
    margin-right: 0;
  }

  .header-form {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-form__search {
    padding: 0 0 0 47px;
    padding-left: 52px;
  }

  .header-form__icon {
    left: 45px;
  }

  ._fix .logo__image {
    font-size: 51px;
  }

  ._fix .logo__text {
    font-size: 32px;
  }

  .slider__next,
  .slider__prev {
    display: none;
  }

  .tabs-content {
    margin: 5px;
  }

  .tabs-content-item {
    padding: 5px;
  }

  .statistics__row {
    margin: -10px;
  }

  .statistics-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 10px;
  }

  .statistics-item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .brands__row {
    padding: 0;
  }

  .footer__row {
    padding: 0;
    display: block;
    margin: 0;
  }

  .footer-item {
    padding: 0;
  }

  .footer-item ._content {
    padding-top: 20px;
  }

  .footer-title__text {
    padding-top: 44.5px;
    font-size: 24px;
  }

  .footer-title__logo {
    font-size: 34px;
  }

  .footer-title__logo::before {
    font-size: 56px;
  }

  .text__read {
    padding-top: 20px;
  }

  ._block-text:not(:last-child)::after {
    width: 100%;
  }

  .images-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .images-row__image {
    padding-bottom: 0;
  }

  .images-row__image img {
    max-width: 130px;
    position: static;
    height: 98px;
  }
}

@media (max-width: 767.98px) and (max-width: 1190px) {
  .logo__image {
    font-size: calc(40px + 22 * ((100vw - 320px) / 870));
  }

  .logo__text {
    font-size: calc(28px + 6 * ((100vw - 320px) / 870));
  }

  .icons {
    margin: calc(-8px + -7 * ((100vw - 320px) / 870));
  }

  .icons-item {
    padding: calc(8px + 7 * ((100vw - 320px) / 870));
  }

  .header-form {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 870));
  }

  .header-form {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 870));
  }

  .header-form__search {
    padding-left: calc(47px + 5 * ((100vw - 320px) / 870));
  }

  .header-form__icon {
    left: calc(25px + 20 * ((100vw - 320px) / 870));
  }

  ._fix .logo__image {
    font-size: calc(38px + 13 * ((100vw - 320px) / 870));
  }

  ._fix .logo__text {
    font-size: calc(26px + 6 * ((100vw - 320px) / 870));
  }

  .footer-item ._content {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 870));
  }

  .footer-title__text {
    padding-top: calc(25px + 19.5 * ((100vw - 320px) / 870));
  }

  .footer-title__text {
    font-size: calc(22px + 2 * ((100vw - 320px) / 870));
  }

  .footer-title__logo {
    font-size: calc(32px + 2 * ((100vw - 320px) / 870));
  }

  .footer-title__logo::before {
    font-size: calc(48px + 8 * ((100vw - 320px) / 870));
  }

  .text__read {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 767px) {
  .icons__burger {
    background-color: transparent;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 51;
    width: 30px;
    height: 20px;
  }

  .icons__burger::before,
  .icons__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icons__burger::before {
    top: 0;
  }

  .icons__burger::after {
    bottom: 0;
  }

  .icons__burger span {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header-main {
    -webkit-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
  }

  body._lock {
    overflow: hidden;
  }

  .tabs-content-item__title {
    font-size: 20px;
  }
}

@media (max-width: 767px) and (max-width: 1190px) {
  .tabs-content-item__title {
    font-size: calc(19px + 1 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 600px) {
  .projects-tabs__btn {
    margin: 0 auto;
    display: block;
    max-width: 300px;
  }

  .tabs-content {
    max-width: 370px;
    margin: 0 auto;
  }

  .tabs-content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 591px) {
  .content-text {
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .content-text__title {
    font-size: 26px;
  }
}

@media (max-width: 591px) and (max-width: 1190px) {
  .content-text {
    padding-top: calc(25px + 32 * ((100vw - 320px) / 870));
  }

  .content-text {
    padding-bottom: calc(25px + 32 * ((100vw - 320px) / 870));
  }

  .content-text {
    padding-left: calc(15px + 30 * ((100vw - 320px) / 870));
  }

  .content-text {
    padding-right: calc(15px + 30 * ((100vw - 320px) / 870));
  }

  .content-text__title {
    font-size: calc(18px + 8 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 590px) {
  .content-text__text {
    padding-top: 24px;
  }
}

@media (max-width: 590px) and (max-width: 1190px) {
  .content-text__text {
    padding-top: calc(15px + 9 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 499px) {
  .sevices-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .sevices-row-item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 370px) {
  .tabs-content-item__text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 370px) and (max-width: 1190px) {
  .tabs-content-item__text {
    padding-top: calc(18px + 2 * ((100vw - 320px) / 870));
  }

  .tabs-content-item__text {
    padding-bottom: calc(18px + 2 * ((100vw - 320px) / 870));
  }

  .tabs-content-item__text {
    padding-left: calc(13px + 7 * ((100vw - 320px) / 870));
  }

  .tabs-content-item__text {
    padding-right: calc(13px + 7 * ((100vw - 320px) / 870));
  }
}

@media (min-width: 767.98px) and (max-width: 1190px) {
  .logo__image {
    font-size: calc(19px + 45 * ((100vw - 320px) / 870));
  }

  .logo__text {
    font-size: calc(16px + 18 * ((100vw - 320px) / 870));
  }

  .header-main {
    margin-right: calc(-30px + 90 * ((100vw - 320px) / 870));
  }

  .header-main__item:not(:last-child) {
    margin-right: calc(-7px + 37 * ((100vw - 320px) / 870));
  }

  .header-main__link {
    font-size: calc(13.3px + 0.7 * ((100vw - 320px) / 870));
  }

  ._fix .logo__image {
    font-size: calc(32px + 9.6 * ((100vw - 320px) / 870));
  }

  ._fix .logo__text {
    font-size: calc(20px + 8 * ((100vw - 320px) / 870));
  }
}

@media (min-width: 1024px) and (max-width: 1190px) {
  .tabs-content-item__text {
    padding: calc(-19px + 49 * ((100vw - 320px) / 870));
  }
}

@media (min-width: 1050px) and (max-width: 1190px) {
  .mobile-row-item-text__list-item {
    padding-left: calc(-106px + 206 * ((100vw - 320px) / 870));
  }

  .mobile-row-item-text__list-item::before {
    left: calc(-226px + 276 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 767px) and (min-width: 591px) {
  .content-text {
    padding: 25px 20px;
  }

  .content-text__title {
    font-size: 18px;
  }

  .content-text__text {
    padding: 15px 0 0 0;
  }
}

@media (any-hover: hover) {
  .header-main__link:hover {
    color: #c7b299;
  }

  .icons-item:hover {
    color: #c7b299;
  }

  .sevices-row-item:hover .sevices-row-item__image {
    color: #c7b299;
  }

  .sevices-row-item:hover .sevices-row-item__title {
    color: #c7b299;
  }

  .sevices-row-item:hover .sevices-row-item__text::after {
    background-color: #c7b299;
  }

  .tabs-content-item:hover .tabs-content-item__image::before {
    opacity: 0.6;
    visibility: visible;
  }

  .tabs-content-item:hover .tabs-content-item__image::after {
    border-top: 10px solid #362f2d;
  }

  .tabs-content-item:hover .tabs-content-item__icons {
    opacity: 1;
    visibility: visible;
  }

  .tabs-content-item:hover .tabs-content-item__text {
    background-color: #362f2d;
  }

  .tabs-content-item:hover .tabs-content-item__text__title {
    color: #ffffff;
  }

  .tabs-content-item:hover .tabs-content-item__text__slogan {
    color: #c7b299;
  }

  .video-play:hover .video-play__icon {
    color: #f5493d;
  }
}

@media (max-height: 680px) {
  .header-form {
    height: 48px;
  }

  ._search-active {
    bottom: -40px;
  }

  ._fix ._search-active {
    bottom: -55px;
  }

  .slide__body {
    padding: 100px 15px;
  }
}

@media (max-height: 560px) {
  .slide__body {
    min-height: 560px;
  }
}

@media (max-height: 690px) {
  .slide__subtitle {
    padding: 40px 0 0 0;
  }
}

@media (max-height: 620px) {
  .slide__subtitle {
    font-size: 26px;
  }

  .slide__title {
    margin: 20px 0 0 0;
    font-size: 32px;
  }
}

._webp .slide__body{ background: url(../img/slider/mountain.webp) 0 0/cover no-repeat; }

._webp .video{ background: url(../img/video/video-bg.webp) 0 0/cover no-repeat; }

._webp .brands{ background: url(../img/brands/mountains.webp) 0 0/cover no-repeat; }